.container{
    background-color: #192B37;
    box-shadow: 0px 0px 10px 0px black;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
}

.backBtn{
    border: none;
    background: transparent;
    color: white;
    font-size: 13px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


.backIcon{
    color: #FF5640;
}

.forgotPassword{
    font-size: 25px;
    color: #FF5640;
    font-weight: bold;
    margin-bottom: 5px !important;
}

.message{
    font-size: 12px;
    margin-bottom: 15px !important;
}

.inputContainer{
    display: flex;
    flex-direction: column;
}

.label{
    font-size: 12px;
    color: white;
}

.required{
    color: red;
}

.input{
    border: none;
    border-radius: 5px;
    padding: 5px;
    height: 40px !important;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.717);
    background-color: #354652;
    width: 100%;
}

.input:focus{
    outline: none;
}

.submit{
    border: none;
    background-color: #FF5640;
    color: white;
    border-radius: 3px;
    box-shadow: 0px 0px 7px #FF5640;
    padding: 4px 0px;
    margin-top: 10px;
}